# Environments
.env
.env.local

# Virtual environments
venv310/
venv/
env/

# Dependencies
node_modules/
__pycache__/

# Database & Data
*.db
*.sqlite
*.sqlite3
subjects.json

# OS files
.DS_Store

# Build files
dist/
build/
dataset.jsonl

*.gguf
models/

server.py
inference.py

# Testing & Coverage
.pytest_cache/
test-results/
cypress/screenshots/
cypress/videos/
playwright-report/
blob-report/
coverage/
.nyc_output/
*.log

testing/